<div class="container">
    <h2>Create a job</h2>
    <form #createJobForm="ngForm" (ngSubmit)="createJob()" method="post" action="#">
        <div class="form-group">
            <label for="title">Title:</label>
            <input [(ngModel)]='title' name='title' type="text" class="form-control" id="title" required placeholder="Enter the title of the job offer">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea [(ngModel)]='description' name='description' class="form-control" rows="5" id="description" required placeholder="Enter description of the job"></textarea>
		<div class="form-group">	
			<label for="applyBeforeDate">Valid until: </label>
			<input [(ngModel)]='applyBeforeDate'  required name = "applyBeforeDate" type="date" class="form-control" required placeholder="Select date">
		</div>
		</div>
	    <div class="form-group">							
		    <div class="cols-sm-10">
			    <div class="input-group">
				    <label for="tag1">Select tag</label>
					    <select [(ngModel)]="tag1" required name="tag1" class="form-control">							
						    <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>									
						</select>
				</div>
			    <div class="input-group">
				    <label for="tag2">Select tag</label>
					    <select [(ngModel)]="tag2" name="tag2" class="form-control">							
						    <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>									
						</select>
				</div>
			    <div class="input-group">
				    <label for="tag2">Select tag</label>
					    <select [(ngModel)]="tag3" name="tag3" class="form-control">							
						    <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>									
						</select>
				</div>
			    <div class="input-group">
				    <label for="tag4">Select tag</label>
					    <select [(ngModel)]="tag4" name="tag4" class="form-control">							
						    <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>									
						</select>
				</div>
			    <div class="input-group">
				    <label for="tag5">Select tag</label>
					    <select [(ngModel)]="tag5" name="tag5" class="form-control">							
						    <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>									
						</select>
				</div>
			</div>
		</div>						
        <div class="form-group">
            <div class="cols-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>