<div class="container">
    <div class="row">
        <!-- panel preview -->
        <div class="panel panel-default">
            <div class="panel-body form-horizontal">
                <form class="form-horizontal" #createCommentForm="ngForm" (ngSubmit)="createComment()" method="post" action="#">
                    <div class="form-group">
                        <div class="col-sm-12 text-left">
                            <div class="col-sm-8">
                                <textarea class="form-control" required name="content" [(ngModel)]="content"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default preview-add-button">
                                <span class="glyphicon" id="submit_button"></span> Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>