<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{userProfile.username}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="../../../images/user.png" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>{{userProfile.firstName}} {{userProfile.lastName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Country:</td>
                                        <td>{{userProfile.country}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td><a href="mailto:info@support.com">{{userProfile.email}}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Additional information:</td>
                                        <td>{{userProfile.description || "No additional information"}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="position-centre" *appIsLogged="profileAuth()">
                            <a href="#" *isRoleFreelancer="checkForRole()" class="btn btn-primary">Application history</a>
                            <a href="#" *isRoleFreelancer="!checkForRole()" class="btn btn-primary">Job offers history</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" *appIsLogged = "profileAuth()">
                    <a (click)="setIsNotChecked()" *ngIf="!checkIfUserProfile()" data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ><i class="glyphicon glyphicon-envelope"></i></a>
                    <a href="edit.html" *ngIf="checkIfUserProfile()" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                    <a *ngIf="checkIfUserProfile()" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                     <div *isButtonClicked="checkForClickedButton()">
                        <div app-create-comment *appIsLogged = "profileAuth()" [app-create-comment] = "userProfile"></div>
                    </div>
            </div>
        </div>
    </div>
</div>