<nav class="navbar navbar-inverse bs-dark">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
      aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    <a class="navbar-brand" href="#">Logo</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class=""><a routerLink="/jobs">Jobs <span class="sr-only">(current)</span></a></li>
      <li class=""><a routerLink="/freelancers">Freelancers</a></li>
      <li class=""><a routerLink="/employers">Employers</a></li>
      <li class=""><a routerLink="/create">Create a job</a></li>
    </ul>
    <form class="navbar-form navbar-left form-horizontal" role="search">
      <div class="input-group">
        <input type="text" [(ngModel)]='filterFreelancers' name='filterFreelancers' class="search-box" placeholder="Find freelancers">
        <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle navbar-img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{username}} 
              <img src="../images/user.png" class="img-circle" alt="Profile Image" />
              </a>
        <ul class="dropdown-menu">
          <login-form *appIsLogged = "loginAuth()" ></login-form>
          <profile-info *appIsLogged = "profileAuth()" ></profile-info>  
        </ul>
      </li>      
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>