<div class="container">
    <h2>Create a job</h2>
    <form>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" placeholder="Enter the title of the job offer">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" rows="5" id="description" placeholder="Enter description of the job"></textarea>
        </div>
        <div class="form-group">
            <label>Tags:</label>
            <input type="text" class="form-control" placeholder="Tag 1">
            <input type="text" class="form-control" placeholder="Tag 2">
            <input type="text" class="form-control" placeholder="Tag 3">
            <input type="text" class="form-control" placeholder="Tag 4">
            <input type="text" class="form-control" placeholder="Tag 5">
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>