<h3>Employers</h3>
<div class="col-xs-2">
    <input class="search-box" [(ngModel)]='filterBy' type="text" placeholder="search for employers">
</div>
<table class='table table-hover'>
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Username
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                E-mail
            </th>
            <th>
                Description
            </th>
            <th>
                Role
            </th>
        </tr>
    </thead>
    <tbody>
        <tr employer-profile-short *ngFor="let employer of employers | employersFilter:filterBy" [employer-profile-short]="employer"></tr>
    </tbody>
</table>