<tbody>
    <h3>Employers</h3>
    <form class="form-horizontal" #searchForm="ngForm">

    <tr>
        <td>
        </td>
        <td>
            Username
        </td>
        <td class="description">
            Description
        </td>
        <td>
            e-mail
        </td>
        <td>
            First Name
        </td>
        <td>
            Last Name
        </td>
        <td>
        </td>                 
    </tr>
    <tr freelancer-profile-short *ngFor="let employer of employers" [freelancer-profile-short] = "employer"></tr>
</tbody>